<div class="left pull-left">
			<div class="avatar">
				<%= image_tag user.photo.url() %>
				<p><%= link_to user.nick_name, user %></p>
				<p><%= link_to '个人资料', edit_user_path(user) if user == current_user %></p>
			</div>
			<ul>
				<li><%= link_to "粉丝（#{user.followers_count}）", user %></li>
				<li><%= link_to "关注（#{user.followees_count}）", user %></li>
			</ul>
			<ul>
				<li><a href="">评论我的</a></li>
				<li><a href="">提到我的</a> <span class="label label-danger">3</span></li>
				<li><a href="">私信</a></li>
			</ul>
		</div>