<li class="clearfix" id="<%= mb_post.id %>">
	<div class="avatar pull-left">
		<%= image_tag mb_post.user.photo.url(:thumb) %>
	</div>
	<div class="content">
		<p class="author">
			<%= link_to mb_post.user.nick_name, mb_post.user %>
		</p>
		<h4><%= link_to mb_post.title, mb_post if mb_post.title %></h4>
		<div class="summary">
			<%= raw mb_post.content %>
			<div  style="background-color:#ededed;">
				<%= render "mb_posts/origin_mb_post", :mb_post => MbPost.find(mb_post.path_ids.first) if mb_post.has_many_path? %>
			</div>
		</div>
		<div class="meta">
			<div class="info pull-left"><%= mb_time(mb_post.try(:created_at)) %></div>
			<div class="actions pull-right">
				<%= link_to "删除", mb_post_path(mb_post), :method => :delete, :remote => true, data: { confirm: '确认要删除?' }, :class => "delete" if mb_post.user == current_user %>
				<%= link_to "转发(#{mb_post.forwards_count})", repost_mb_post_path(mb_post), :remote => true %>
				|<a href="">分享</a>|<a href="">收藏</a>|<%= link_to "评论(#{mb_post.mb_replies_count})", "javascript:void(0);", :action_data => "puid=#{mb_post.user.id}&uid=#{current_user.id}&pid=#{mb_post.id}", :class => "homepage_reply_link" %>
			</div>
			<div class="homepage_reply">

			</div>
		</div>
	</li>

<style type="text/css">
a.delete { display: none; }
li.clearfix:hover a.delete { display: inline; }
.homepage_reply{border: solid 1px; height: 30px; display: none;}
</style>
